body,html{
  font-family: Arial, Helvetica, sans-serif;
  height: 230em;
  width: 100%;
  background-image: url(../images/bg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#toSearch{
  color:darkgreen;
}

.label{
  font-weight: 900;
  font-family:Century Gothic;
  font-size: 50px;
  text-align: center;
}

h1{
  text-align: center;
}

.parallax{
  /* Full height */
  height: 100%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

#res{
  margin-left:7.5%;
  margin-right:7.5%;
  margin-bottom:10%;
  width:85%;
}

.img{
  width:22em
}

.mis{
  border-bottom: 1px solid ;
}

.btn_info{
  background-color: darkgreen;
}

.title{
  padding-top: 5em;
  padding-bottom:5em;
  box-shadow: 0px 0px 0px -5px rgba(34,34,34,0.6);
  background-color:rgba(255, 255, 238, .5);
  border:0;
  text-align: center;
}

.menu {
  position: relative;
  display:flex;
  float: left;
  align-items: left;
  justify-content: space-between;
  left:5.5em;
  margin: 0.15em;
  font-family:Candara Light;
  font-size: 15px;
  font-weight:bolder;
  color:white;
  border-style: hidden;
}
  
.search{
  position: relative;
  display:flex;
  float: right;
  align-items: right;
  justify-content: space-between;
  right:5.5em;
  margin: 0.15em;
  font-family:Candara Light;
  font-size: 15px;
  font-weight: 900;
  color:white;
  border-style: hidden;
}

.card{
    position: relative;
    float: left;
    flex:content-box;
    justify-content: space-between; 
    margin: 0.75em;
    width:20em;
    height: 150%;
    box-sizing: border-box;
    font-family:Candara Light;
    font-size: 15px;
    font-weight: 900;
    padding-left: 20px;
    padding-right:30px; 
    }

    #card1{
      position: relative;
      float: left;
      flex:content-box;
      justify-content: space-between; 
      margin: 0.75em;
      width:30%;
      height: 150%;
      box-sizing: border-box;
      font-family:Candara Light;
      font-size: 15px;
      font-weight: 900;
      padding-left: 20px;
      padding-right:30px; 
      }
    
    @media screen and (max-width: 700px) {
    #card1{
      position: relative;
      float:left;
      flex:content-box;
      justify-content: space-between; 
      margin: 0.75em;
      width: 100%;
      height: 90%;
      box-sizing: border-box;
      font-family:Candara Light;
      font-size: 15px;
      font-weight: 900;
      padding-left: 5px;
      padding-right: 5px; 
      }
    }

    /* button tuggle*/
    .switch, .switch1 {
      position: absolute;
      display: inline-block;
      width: 40px;
      height: 20px;
      left: 80%;
      top: 10%;
    }
    
    @media screen and (max-width: 700px) {
        .switch1 {
          position: absolute;
          display: inline-block;
          width: 40px;
          height: 20px;
          left: 70%;
          top: 10%;
        }
      }

    .switch input { 
      opacity: 0;
      width: 0;
      height: 0;
    }
    
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    .slider:before {
      position: absolute;
      content: "";
      height: 18px;
      width: 22px;
      left: 2px;
      bottom: 1px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
    
    input:checked + .slider {
      background-color: darkgreen;
    }
    
    input:focus + .slider {
      box-shadow: 0 0 1px darkgreen;
    }
    
    input:checked + .slider:before {
      -webkit-transform: translateX(13px);
      -ms-transform: translateX(13px);
      transform: translateX(13px);
    }
    
    /* Rounded sliders */
    .slider.round {
      border-radius: 32px;
    }
    
    .slider.round:before {
      border-radius: 40%;
    }

  @media screen and (max-width: 800px) {
  *{
    box-sizing: border-box;
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }}
  

#info{
  font-size:80%;
  text-align:center;
  border-style: groove;
  border-color: darkgreen;
  margin-right:10%;
  border-radius: 5px;
  border-width: 1px;
  padding:3%;
}

#info img{
  width: 7%;
}

#info span{
  background-color:yellow;
}

/*this is the part of the about page*/
#myImg{
  width:100%;
  height: 100%;
  box-shadow: 0 0 7px #000;
  object-fit: cover;
  border-radius: 40%;
}

.aboutPage{
  position:relative;;
  text-align: center;
  border-radius: 5px;
  width:100%;
  background-color: rgb(0, 85, 0,.20);
}

.aboutPage p{
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 200%;
  width:90%;
  text-align: left;
  margin-left: 5%;
  text-shadow: 0 0 7px #000;
}

.grid{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(4, 1fr);
  margin-top:10%;
  margin-left: 3.5%;
  grid-gap: 2%;
}

@media screen and (max-width: 800px){
.grid{
  display:inline-block;
  width: 80%;
  height: 80%;
  grid-template-columns: repeat(4, 1fr);
  margin-top:10%;
  margin-left: 3.5%;
  grid-gap: 2%;
}}

.aboutPage h1{
  color:white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  text-shadow: 0 0 7px #000;
  text-align: left;
  font-size:30px;
}

.infoMe{
  width: 70%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0%;
  border-radius: 10px;  
}

.infoMe p{
  font-size: 80%;
  color:white;
  text-align:center;
  text-shadow: 0 0 7px #000;
}

.infoMe span{
  font-size: 150%;
  font-weight: bolder;
}

.allInfo{
  height:45pt;
  width:100%;
  margin-left:10px;
 margin-right: 10px;
}

#img{
  border-image: none;
  
}

.sticky-top {
  position: sticky;
  top: 0px;
  left:0%;
  right:0%;
  z-index: 9;
  padding-top:0.75em;
  height: 4em;
  background-color: rgba(57, 72, 30, 0.8);
}

.sticky-top button{
  width:4em;
  left:0;
  right:0;
}

.sticky-top input{
  width:15%;
  left:0;
  top:3px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 15%;
  right: 15%;
  top: 30%;
  width: 70%; 
  height: 70%; 
  overflow: auto; /* Enable scroll if needed */
}

.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: beige;
  color: white;
  font-family:Candara Light;
  color: darkgreen;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2% 16px;
  background-color: beige;
}

#save{
    font-family: Candara Light; 
    color: white;
    font-weight: 900;
    background-color: darkgreen;
    margin-right: 3%;;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animaters;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animaters {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* spinner */
.container1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: rgba(238, 238, 238, 0);
}

.container1:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.container1 .spinner-frame {
  display: inline-block;
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 5px solid #888;
  padding: 10px;
}

.container1 .spinner-frame .spinner-cover {
  background: rgb(255, 255, 255);
  border: 5px solid #888;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.container1 .spinner-frame .spinner-bar {
  background: beige;
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100% 0 0 0;
  animation: spinny 2s linear infinite;
  transform-origin: 100% 100%;
}

@keyframes spinny {
  0% {
      transform: rotate(0deg);
      background:rgb(157, 134, 134);
  }
  50% {
      transform: rotate(180deg);
      background:beige;
  }
  100% {
      transform: rotate(360deg);
      background: burlywood;
  }
}

.modal-header h2{
  font-size:100%;
}

.coin_name{
  padding-left:7.5%;
}
#coin_img img{
  width:5%;
}
